#posts {

    h1{
        font-size: 2rem;
        margin: 30px 0px 20px 40px;
        font-family: $poppins;
        color: $blue
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        margin-left: 20px;
    }

    ::-webkit-scrollbar-track {
        background: #D9D9D9;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 50px;

    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: lighten($blue, 10);
    }


}

.container-posts {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;


}

.post {
    flex: 0 0 auto;
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
}

@media screen and (max-width:426px) {
    #posts {
        h1{
            font-size: 1.5rem;
            margin: 20px 0px 20px 40px;
        }
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    }
    .post {
        flex: 0 0 auto;
        min-width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:376px) {
    #posts {
        h1{
            font-size: 1.4rem;
            margin: 10px 0px 5px 40px;
           
        }
    }

}

@media screen and (max-width:321px) {
    #posts {
        h1{
            font-size: 1.4rem;
            margin: 20px 0px 5px 40px;
           
        }
    }

}